header {
		width: 100%;
		background-color:#DB871F;
		text-align: center;
		color: white;
}
article {
	width:100%; 
	height:100%; 
	background-color:#6FA8AB;
	color: white;
}
p {margin-left: 15px;
}
footer {
	width:100%; 
	height:150px; 
	text-align: center;
	background-color:#F5A627;
	color: white;
}
.menu {
	width: 15%;
	height: 50%;
	padding-left: 15px;
  margin-left: 15px;
  float: right;
	background-color:#2A777A;
}
#Instruments {
	margin-top: 0;
}
#Contact {
	margin-top: 0;
}
h1 {margin-top: 0
}
#voix {margin-bottom: 0;
}